@charset "UTF-8";
/* -------------------------------*/
/*   estilos de tabla en galería  */
/* -------------------------------*/
.galeriaDestacadosSection {
  padding: 2%;
  border-bottom: 2px solid black; }

.galeria_destacados {
  display: flex;
  flex-flow: column wrap;
  padding: 0%;
  align-items: center;
  justify-content: none; }

.imagenesGaleria {
  width: 280px;
  height: 280px; }

.listaproductos {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-flow: row wrap-reverse;
  padding: 0%;
  align-items: center;
  justify-content: space-around; }

#listaproductos_colores li {
  display: inline-block; }

.listaproductos_cuadrado {
  width: 20px;
  height: 20px;
  border: 1px solid; }

.green {
  background-color: green; }

.fuchsia {
  background-color: fuchsia; }

.black {
  background-color: black; }

/* -------------------------------*/
/*    estilos de promos y combos  */
/* -------------------------------*/
.promoEncabezado, .promo_central {
  padding: 2%; }

.promoBody {
  display: flex;
  flex-wrap: nowrap; }

.promo_central {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: center; }

.promo_central_imagen {
  width: 400px;
  height: 440px; }

.promo_lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20%;
  margin-top: 2%; }

.promo_lista_imagenes img {
  width: 200px;
  height: 240px;
  padding: 2%;
  filter: grayscale(100%);
  transition: filter 1s; }

.promo_lista_imagenes img:hover {
  width: 220px;
  height: 280px;
  filter: none; }

* {
  margin: 0;
  padding: 0; }

html body {
  height: 100%;
  width: 100%; }

ul {
  list-style-type: none; }

ol {
  list-style-type: none; }

p, h1, h3 {
  font-family: "Ubuntu", sans-serif;
  margin-left: 2%; }

/* -------------------------------*/
/*    estilos de menú             */
/* -------------------------------*/
.menu {
  padding: 1%;
  font-family: "Ubuntu", sans-serif;
  font-size: 14pt;
  background: radial-gradient(circle, rgba(46, 216, 251, 0.790336) 0%, #f5ed44 0%, #fafafa 43%, #3dccf7 93%);
  border: 2px solid black; }

.menu__navbar {
  /*para eliminar el color blanco del navbar*/
  --bs-bg-opacity: 0;
  background-color: none; }

.menu_logo {
  width: 80px;
  height: 80px; }

#menu_li_inline {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 1%;
  align-items: baseline;
  justify-content: space-around;
  position: center;
  width: 100%; }
  #menu_li_inline li a:hover {
    border-bottom: 2px solid black; }

a {
  color: #05285e;
  text-decoration: underline; }

/* -------------------------------*/
/*    estilos de pie de página    */
/* -------------------------------*/
.piePagina {
  padding-left: 2%;
  border: 2px solid black;
  background: radial-gradient(circle, rgba(46, 216, 251, 0.790336) 0%, #f5ed44 0%, #fafafa 43%, #3dccf7 93%);
  display: flex;
  flex-flow: column wrap;
  padding: 0%;
  align-items: none;
  justify-content: none; }

.logofooter {
  color: #05285e;
  font-family: 'Hurricane', cursive;
  font-size: 24pt; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.my-float {
  margin-top: 16px; }

.instagram {
  font-size: 18px;
  color: deeppink;
  background-color: black; }
