$menu_background: linear-gradient(0deg, rgba(0,212,255,1) 0%, #006e85 65%, rgba(0,0,0,1) 100%); 
$footer_background:  linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(0,110,133,1) 0%, rgba(0,0,0,1) 100%); 
$general_font: 'Ubuntu', sans-serif;
$general_border: 2px solid black;

$galeria_gral_padding: 2%;