@import "variables";
@import "galeria";
@import "promos_y_combos";
* {
    margin:0;
    padding:0;
    }
html{
    body{
        height: 100%;
        width: 100%;
    }
} 
ul {
    list-style-type: none;
}

ol{
    list-style-type: none;
}
p,h1,h3{
    font-family:map-get($estilos_gral , font );
    margin-left: map-get($estilos_gral ,gral_padding );
}

/* -------------------------------*/
/*    estilos de menú             */
/* -------------------------------*/
.menu{
    padding:1%;
    font-family: map-get($estilos_gral , font );
    font-size: 14pt;
    @if $festividad == 'patrio'{
        background: $menu_background_patrio;
    } @else if $festividad == 'fiestas'{
        background: $menu_background_fiestas;
    } @else {
        background: $menu_background;
    }
    border: map-get($estilos_gral , border );
}

.menu__navbar{
    /*para eliminar el color blanco del navbar*/
    --bs-bg-opacity: 0;
    background-color: none;
}
.menu_logo{
    @include imagen_config(80px,80px);
}

#menu_li_inline {
    @include flexbox(inline-flex, (row wrap), 1%, baseline, space-around);
    position:center;
    width: 100%; 
    li {a:hover{
        border-bottom: map-get($estilos_gral , border );
    }}
}

a {
    color: #05285e;
    text-decoration: underline;
  }

/* -------------------------------*/
/*    estilos de pie de página    */
/* -------------------------------*/
.piePagina{
    padding-left: map-get($estilos_gral ,gral_padding );
    border: map-get($estilos_gral , border );
    @if $festividad == 'patrio'{
        background: $footer_background_patrio;
    } @else if $festividad == 'fiestas'{
        background: $footer_background_fiestas;
    } @else {
        background: $footer_background;
    }

    @include flexbox(flex, (column wrap), 0%, none, none);
    
}
.logofooter{
    @if $festividad == 'patrio'{
        color:#05285e;
    }@else{
        color:aqua;
    }
    font-family: 'Hurricane', cursive;
    font-size: 24pt;
    
} 

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.instagram{
    font-size: 18px;
    color:deeppink;
    background-color:black;
}