@import "variables";
@import "galeria";
* {
    margin:0;
    padding:0;
    }
html{
    body{
        height: 100%;
        width: 100%;
    }
} 
ul {
    list-style-type: none;
}

ol{
    list-style-type: none;
}
p,h1,h3{
    font-family:$general_font;
    margin-left: 2%;
}

/* -------------------------------*/
/*    estilos de menú             */
/* -------------------------------*/
.menu{
    padding:1%;
    font-family: $general_font;
    font-size: 14pt;
    background: $menu_background;
    
    border: $general_border;
}

.menu__navbar{
    /*para eliminar el color blanco del navbar*/
    --bs-bg-opacity: 0;
    background-color: none;
}
.menu_logo{
    height:80px;
    width: 80px;
}

#menu_li_inline {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items:baseline;
    padding: 1%;
    position:center;
    width: 100%; 
    li {a:hover{
        border-bottom: $general_border;
    }}
}

a {
    color: #05285e;
    text-decoration: underline;
  }

/* -------------------------------*/
/*    estilos de pie de página    */
/* -------------------------------*/
.piePagina{
    grid-area: footer;
    padding-left: 2%;
    border: $general_border;
    background: $footer_background;
    display: flex;
    flex-flow: column wrap;
    
}
.logofooter{
    color:aqua;
    font-family: 'Hurricane', cursive;
    font-size: 24pt;
    
} 

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.instagram{
    font-size: 18px;
    color:deeppink;
    background-color:black;
}